li {
  list-style: none;
}
ul,
.header {
  float: left;
  padding: 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 1080px;
  width: 1920px;
}
.top-carousel,
.bottom-carousel {
  margin: 0;
  padding: 0;
  width: 664px;
  height: 1080px;
}
.main-buttons-first,
.main-buttons-second {
  padding-left: 5px;
  padding-right: 5px;
}
.show-full-service .top-carousel,
.show-full-service .bottom-carousel {
  display: none;
}
.show-full-service .full-service {
  display: block;
}
.show-what-is-1897 .top-carousel,
.show-what-is-1897 .bottom-carousel {
  display: none;
}
.show-what-is-1897 .what-is-1897 {
  display: block;
}
.show-map .top-carousel,
.show-map .bottom-carousel {
  display: none;
}
.show-map .map {
  display: block;
}
.show-gng .top-carousel,
.show-gng .bottom-carousel {
  display: none;
}
.show-gng .gng {
  display: block;
}
.show-video .top-carousel,
.show-video .bottom-carousel {
  visibility: hidden;
}
.full-service,
.what-is-1897,
.map,
.gng {
  display: none;
}
